<article>
<h3><%= post.user.email %>:</h3>
<p><%= post.body %></p>
<br>
Post Date: <%= post.created_at %><br>
Last Updated: <%= post.updated_at %><br>
<br>
<% post.links.each do |link| %>
  <a href="<%= link.url %>"><br>
<% end %>
<% if current_user.id == post.user_id %>
  <form action="<%= edit_post_url(post) %>">
    <input type="submit">Edit<input>
  </form>
<% end %>
<article>
